    /* ---- Propriétés Générales ---- */

    /*-- Les variables --*/

    $grey:#E7E7E7;
    $blue: #3282F7;
    $green: #68D9A4;
    $red: #ED6454;

    /*-- Les mixins --*/

    @mixin dimensions($width, $height) {
        width: $width; 
        height: $height;
    }

    @mixin margin-package($top, $bottom, $left, $right) {
        margin-top: $top;
        margin-bottom: $bottom;
        margin-left: $left;
        margin-right: $right;
    }

    @mixin padding-package($top, $bottom, $left, $right) {
        padding-top: $top;
        padding-bottom: $bottom;
        padding-left: $left;
        padding-right: $right;
    }

    @mixin syntaxe-lato($size, $type) {
        font-family: 'Lato', sans-serif;
        font-size: $size;
        font-weight: $type;
    }

    @mixin syntaxe-roboto($size, $type) {
        font-family: 'Roboto', sans-serif;
        font-size: $size;
        font-weight: $type;
    }

    body{
		width: auto;
		margin: auto;
	}

    /*---- Syntaxe ----*/

    @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

    /*h2 {
        @include syntaxe-roboto(20px, normal);
    }*/

    /* ---- Header ---- */

.header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    &_dimensions{
        @include dimensions(auto, 220px);
    }
}

.research{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    background-color: $grey;
    &_dimensions{
        @include dimensions(90%, 70px);
    }
}

.search-request{
    border: none;
    background-color: $grey;
    @include margin-package(auto, auto, 3%, auto);
    /*font-size: 20px;*/
    @include syntaxe-lato(20px, normal);
    color: black;
    opacity: 0.25;
    &_dimensions{
        @include dimensions(75%, 70px);
    }
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    &_dimensions{
        @include dimensions(70px, 70px);
    }
    &_logo{
        font-size: 30px;
    }
}

.error{
    display: none;
}

.error h3{
    @include syntaxe-lato(18px, normal);
    color: #e54858;
}

/* ---- Main ---- */

/*-- Boutons filtres --*/

.sortElements{
    display: flex;
    flex-wrap: wrap;
    row-gap: 5px;
    column-gap: 1%;
    &_dimensions{
        @include dimensions(90%, auto);
    }
    &_border{
        @include margin-package(20px, auto, 5%, auto);
    }
}

.sortBtn{
    display: none; /*flex*/
    justify-content: space-around;
    align-items: center;
    &_dimensions{
        @include dimensions(100px, 40px);
    }
    &_border{
        border-radius: 5px;
    }
}

.sortBtnIngredients-color{
    background-color: $blue;
}

.sortBtnUstensils-color{
    background-color: $red;
}

.sortBtnAppliance-color{
    background-color: $green;
}

.sortBtn h3{
    color: white;
    @include syntaxe-lato(18px, normal);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.close-sortBtn{
    border: none;
    color: white;
    font-size: 22px;
    cursor: pointer;
}

/*-- Filtres de recherche avancé --*/

.forms{
    display: flex;
    @media all and (min-width: 992px) {
        justify-content: space-between;
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        justify-content: space-between;
    }
    @media all and (max-width: 767px) {
        flex-direction: column;
        justify-content: space-between;
    }
    align-items: center;
    &_dimensions{
        @media all and (min-width: 992px) {
            @include dimensions(45%, 70px);
        }
        @media all and (min-width: 768px) and (max-width: 991px) {
            @include dimensions(90%, 70px);
        }
        @media all and (max-width: 767px) {
            @include dimensions(90%, 260px);
        }
    }
    &_border{
        @include margin-package(20px, auto, 5%, auto);
    }
}

.tab-sorting-form{
    @include syntaxe-lato(18px, normal);
    color: white;
    &_dimensions{
        @include dimensions(200px, 60px);
    }
    &_border{
        border-radius: 5px;
        border: none;
    }
}

.ingredient-color{
    background-color: $blue;
}

.device-color{
    background-color: $green;
}

.tool-color{
    background-color: $red;
}

/*-- Les recettes --*/

.allReceipes{
    display: grid;
    @media all and (min-width: 992px) {
        grid-template-columns: 1fr 1fr 1fr;
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        grid-template-columns: 1fr 1fr;
    }
    @media all and (max-width: 767px) {
        grid-template-columns: 1fr;
    }
    row-gap: 70px;
    &_border{
        @include margin-package(20px, auto, 5%, auto);
    }
}

/*-- Carte d'une recette --*/

.receipe{
    @media all and (min-width: 992px) {
        @include dimensions(85%, 400px);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include dimensions(90%, 400px);
    }
    @media all and (max-width: 767px) {
        @include dimensions(95%, 400px);
    }
    border-radius: 5px;
    overflow: hidden;
}

.receipe-image{
    @include dimensions(auto, 50%);
    background-color: #C7BEBE;
}

.receipe-background{
    background-color: $grey;
    @include dimensions(auto, 50%);
}

/*-- Titre de la recette --*/

.receipe-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include syntaxe-lato(14px, normal);
    @include margin-package(auto, auto, 4%, 4%);
}

.receipe-description{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/*-- Les ingrédients --*/

.allIngredients{
    list-style: none;
    @include syntaxe-roboto(12px, normal);
    &_dimensions{
        @include dimensions(90%, 115px);
    }
    &_border{
        @include margin-package(none, auto, 8%, auto);
        @include padding-package(none, none, 0%, none);
    }
}

/*-- Texte de la recette --*/

.receipe-text{
    @include syntaxe-roboto(12px, normal);
    overflow: auto;/*hidden*/
    text-overflow: ellipsis;
    /*white-space: nowrap;*/
    white-space: normal;
    @include dimensions(auto, 70px);
}